<form>
    <!-- Email input -->
    <form class="form-signin" action="/login" method="POST">

        <div class="form-group">
            <input type="email" class="form-control" placeholder="Your Email *" value="" name="email" />
        </div>

        <!-- Password input -->

        <div class="form-group">
            <input type="password" class="form-control" placeholder="Your password *" value="" name="password" />
        </div>


        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4" type= "submit"><button>sign in</button>


    </form>
</form>